logs
*.log
npm-debug.log*
.DS_Store

coverage
node_modules
build
public/static
lib
junit
docs
tsconfig.json
tsconfig.*.json
*.tsbuildinfo
.env.local
.env.development.local
.env.test.local
.env.production.local
.@tablecheck-react-system
.@tablecheck
*-debug.log

# Rush temporary files
common/deploy/
common/temp/
common/autoinstallers/*/.npmrc
**/.rush/temp/
