* {
  border: 0;
  box-sizing: border-box;
  font-size: 125%;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  border: 0;
  color: var(--text);
  font-size: 125%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
sub,
sup {
  line-height: 0px;
}
sub {
  vertical-align: sub;
}
sup {
  vertical-align: super;
}
em,
i {
  font-style: italic;
}
button {
  background-color: transparent;
}
:root {
  --border-radius-large: 8px;
  --border-radius-small: 4px;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --input-height: 48px;
  --spacing-l1: 4px;
  --spacing-l2: 8px;
  --spacing-l3: 12px;
  --spacing-l4: 16px;
  --spacing-l5: 24px;
  --spacing-l6: 32px;
  --spacing-l7: 40px;
  --spacing-l8: 48px;
  --z-index-card: 100;
  --z-index-dialog: 200;
  --z-index-sidenav: 300;
  --z-index-topnav: 310;
  --z-index-layer: 400;
  --z-index-blanket: 500;
  --z-index-modal: 510;
  --z-index-flag: 600;
  --z-index-spotlight: 700;
  --z-index-tooltip: 800;
}
:root,
[dir='ltr'] {
  --ltr-space: 1px;
  --rtl-space: 0px;
}
[dir='rtl'] {
  --ltr-space: 0px;
  --rtl-space: 1px;
}
:root,
[data-theme='light'] {
  --border: #e5e5e5;
  --border-active: #292929;
  --border-transparent: rgba(0, 0, 0, 0.1);
  --field: #fff;
  --secondary: #292929;
  --secondary-active: #282828;
  --secondary-hover: #252525;
  --surface: #fff;
  --surface-active: rgba(0, 0, 0, 0.15);
  --surface-disabled: #e5e5e5;
  --surface-hover: rgba(0, 0, 0, 0.07);
  --surface-hover-transparent: rgba(0, 0, 0, 0.1);
  --text: #292929;
  --text-contrast: #fff;
  --text-disabled: #cecece;
  --text-placeholder: #bfbfbf;
  --text-subtle: #989898;
  --grey-900: #292929;
  --grey-800: #656565;
  --grey-700: #989898;
  --grey-600: #bfbfbf;
  --grey-500: #cecece;
  --grey-400: #dbdbdb;
  --grey-300: #e5e5e5;
  --grey-200: #eee;
  --grey-100: #f9f9f9;
  color-scheme: light;
}
[data-theme='dark'] {
  --border: #333;
  --border-active: #fff;
  --border-transparent: hsla(0, 0%, 100%, 0.2);
  --field: #292929;
  --secondary: #fff;
  --secondary-active: #ccc;
  --secondary-hover: #e5e5e5;
  --subtle-text: #bebebe;
  --surface: #121212;
  --surface-active: hsla(0, 0%, 100%, 0.2);
  --surface-disabled: #656565;
  --surface-hover: #292929;
  --surface-hover-transparent: hsla(0, 0%, 100%, 0.09);
  --text: #fdfdfd;
  --text-contrast: #121212;
  --text-disabled: #989898;
  --text-placeholder: #989898;
  --grey-900: #f9f9f9;
  --grey-800: #eee;
  --grey-700: #e5e5e5;
  --grey-600: #dbdbdb;
  --grey-500: #cecece;
  --grey-400: #bfbfbf;
  --grey-300: #989898;
  --grey-200: #656565;
  --grey-100: #292929;
  color-scheme: dark;
}
:root {
  --error: #c00;
  --error-surface: #fedfdf;
  --info: #06c;
  --info-surface: #dfeffe;
  --neutral: #656565;
  --neutral-surface: #eee;
  --primary: #7935d2;
  --primary-active: #6d30bd;
  --primary-hover: #6d30bd;
  --primary-surface: #e6dbf3;
  --success: #067900;
  --success-surface: #e9fedf;
  --warning: #926b07;
  --warning-surface: #fffadf;
  --black: #000;
  --focus: #276be5;
  --grey: #121212;
  --elevation-large: 0 0 12px 0 rgba(0, 0, 0, 0.1);
  --elevation-medium: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  --elevation-small: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  --font-family: 'IBM Plex Sans';
  --headline: 700 54px/64px var(--font-family);
  --h1: 600 36px/48px var(--font-family);
  --h2: 24px/32px var(--font-family);
  --h3: 600 20px/24px var(--font-family);
  --h4: 600 16px/24px var(--font-family);
  --body-1: 16px/24px var(--font-family);
  --body-2: 14px/20px var(--font-family);
  --small: 12px/18px var(--font-family);
  --label: 600 14px/20px var(--font-family);
}
header h1 {
  font: 700 54px/64px 'IBM Plex Sans';
  font: var(--headline);
}
h1 {
  font: 600 36px/48px 'IBM Plex Sans';
  font: var(--h1);
}
h2 {
  font: 24px/32px 'IBM Plex Sans';
  font: var(--h2);
}
h3 {
  font: 600 20px/24px 'IBM Plex Sans';
  font: var(--h3);
}
h4 {
  font: 600 16px/24px 'IBM Plex Sans';
  font: var(--h4);
}
body,
p {
  font: 16px/24px 'IBM Plex Sans';
  font: var(--body-1);
}
aside {
  font: 14px/20px 'IBM Plex Sans';
  font: var(--body-2);
}
small {
  font: 12px/18px 'IBM Plex Sans';
  font: var(--small);
}
label {
  font: 600 14px/20px 'IBM Plex Sans';
  font: var(--label);
}
b,
strong {
  font-weight: 700;
}
[data-tooltip] {
  --tooltip-background-color: var(--surface, #000);
  --tooltip-text-color: var(--text, #fff);
  position: relative;
}
[data-tooltip]:before {
  background: var(--tooltip-background-color);
  border: 1px solid var(--border);
  border-radius: 4px;
  bottom: 100%;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  box-shadow: var(--elevation-medium);
  color: var(--tooltip-text-color);
  content: attr(data-tooltip);
  display: block;
  font: 400 14px/20px 'IBM Plex Sans';
  font: 400 var(--body-2);
  left: 50%;
  opacity: 0;
  overflow: hidden;
  padding: 6px 8px;
  pointer-events: none;
  position: absolute;
  text-decoration: none;
  text-overflow: ellipsis;
  transform: translate(-50%, -0.25rem);
  white-space: nowrap;
  z-index: 800;
}
[data-tooltip]:focus:before,
[data-tooltip]:hover:before {
  opacity: 1;
}
@media (prefers-reduced-motion: no-preference) and (hover: hover) and (pointer: fine) {
  [data-tooltip]:focus:before,
  [data-tooltip]:hover:before {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-name: animation-1ueuec7;
    animation-name: animation-1ueuec7;
  }
}
a[role='button'],
button {
  grid-gap: 8px;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  display: grid;
  font-size: 16px;
  font-weight: 500;
  grid-auto-flow: column;
  line-height: 24px;
  padding: 0 16px;
  min-height: 48px;
  position: relative;
  text-align: center;
}
a[role='button'].focus-visible,
a[role='button']:focus:not(.focus-visible),
button.focus-visible,
button:focus:not(.focus-visible) {
  outline: none;
}
a[role='button']:focus-visible,
a[role='button']:focus:not(:focus-visible),
button:focus-visible,
button:focus:not(:focus-visible) {
  outline: none;
}
a[role='button'].focus-visible:after,
a[role='button']:focus:not(.focus-visible):after,
button.focus-visible:after,
button:focus:not(.focus-visible):after {
  border: 2px solid #276be5;
  border: 2px solid var(--focus, #2769e5);
  border-radius: 8px;
  bottom: -4px;
  content: '';
  left: -4px;
  position: absolute;
  right: -4px;
  top: -4px;
}
a[role='button']:focus-visible:after,
a[role='button']:focus:not(:focus-visible):after,
button:focus-visible:after,
button:focus:not(:focus-visible):after {
  border: 2px solid #276be5;
  border: 2px solid var(--focus, #2769e5);
  border-radius: 8px;
  bottom: -4px;
  content: '';
  left: -4px;
  position: absolute;
  right: -4px;
  top: -4px;
}
a[role='button']:not([data-variant]),
button:not([data-variant]) {
  --color: #fff;
  --background-color: var(--primary);
}
a[role='button']:not([data-variant]):hover,
button:not([data-variant]):hover {
  --background-color: var(--primary-hover);
}
a[role='button']:not([data-variant]):active,
button:not([data-variant]):active {
  --background-color: var(--primary-active);
}
a[role='button'][data-variant='primary'],
button[data-variant='primary'] {
  --color: #fff;
  --background-color: var(--primary);
}
a[role='button'][data-variant='primary']:hover,
button[data-variant='primary']:hover {
  --background-color: var(--primary-hover);
}
a[role='button'][data-variant='primary']:active,
button[data-variant='primary']:active {
  --background-color: var(--primary-active);
}
a[role='button'][data-variant='secondary'],
button[data-variant='secondary'] {
  --color: var(--text-contrast);
  --background-color: var(--secondary);
}
a[role='button'][data-variant='secondary']:hover,
button[data-variant='secondary']:hover {
  --background-color: var(--secondary-hover);
}
a[role='button'][data-variant='secondary']:active,
button[data-variant='secondary']:active {
  --background-color: var(--secondary-active);
}
a[role='button'][data-variant='tertiary'],
button[data-variant='tertiary'] {
  --color: var(--text);
  border: 2px solid var(--secondary);
}
a[role='button'][data-variant='tertiary']:hover,
button[data-variant='tertiary']:hover {
  --background-color: var(--surface-hover);
}
a[role='button'][data-variant='tertiary']:active,
button[data-variant='tertiary']:active {
  --background-color: var(--surface-active);
}
a[role='button'][data-variant='ghost'],
button[data-variant='ghost'] {
  --color: var(--text);
  border: 1px solid var(--border-transparent);
}
a[role='button'][data-variant='ghost']:hover,
button[data-variant='ghost']:hover {
  --background-color: var(--surface-hover);
}
a[role='button'][data-variant='ghost']:active,
button[data-variant='ghost']:active {
  --background-color: var(--surface-active);
}
a[role='button'][data-variant='bare'],
button[data-variant='bare'] {
  --color: var(--text);
}
a[role='button'][data-variant='bare']:hover,
button[data-variant='bare']:hover {
  --background-color: var(--surface-hover);
}
a[role='button'][data-variant='bare']:active,
button[data-variant='bare']:active {
  --background-color: var(--surface-active);
}
a[role='button']:disabled,
a[role='button']:disabled:active,
a[role='button']:disabled:hover,
button:disabled,
button:disabled:active,
button:disabled:hover {
  --background-color: var(--surface-disabled);
  --color: var(--text-disabled);
  border-color: var(--surface-disabled);
  cursor: not-allowed;
  pointer-events: none;
}
a[role='button'],
button {
  --loading-transition: 300ms ease-in-out;
  background-color: var(--background-color);
  color: var(--color);
  transition: color var(--loading-transition),
    background-color var(--loading-transition),
    border-color var(--loading-transition);
}
a[role='button']:before,
button:before {
  --spinner-size: 20px;
  -webkit-animation: animation-coyfiv 0.8s linear infinite;
  animation: animation-coyfiv 0.8s linear infinite;
  background-color: var(--color);
  content: '';
  display: inline-block;
  display: block;
  height: 20px;
  height: var(--spinner-size, 20px);
  left: calc(50% - var(--spinner-size) / 2);
  -webkit-mask-image: url('data:image/svg+xml; utf8, <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.5 10C17.5 11.4834 17.0601 12.9334 16.236 14.1668C15.4119 15.4001 14.2406 16.3614 12.8701 16.9291C11.4997 17.4968 9.99168 17.6453 8.53682 17.3559C7.08196 17.0665 5.74559 16.3522 4.6967 15.3033C3.64781 14.2544 2.9335 12.918 2.64411 11.4632C2.35472 10.0083 2.50325 8.50032 3.0709 7.12987C3.63856 5.75943 4.59985 4.58809 5.83322 3.76398C7.06659 2.93987 8.51664 2.5 10 2.5V4.375C8.88748 4.375 7.79994 4.7049 6.87492 5.32298C5.94989 5.94107 5.22892 6.81957 4.80318 7.84741C4.37743 8.87524 4.26604 10.0062 4.48308 11.0974C4.70012 12.1885 5.23585 13.1908 6.02252 13.9775C6.80919 14.7641 7.81147 15.2999 8.90262 15.5169C9.99376 15.734 11.1248 15.6226 12.1526 15.1968C13.1804 14.7711 14.0589 14.0501 14.677 13.1251C15.2951 12.2001 15.625 11.1125 15.625 10H17.5Z" fill="currentColor"/></svg>');
  mask-image: url('data:image/svg+xml; utf8, <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.5 10C17.5 11.4834 17.0601 12.9334 16.236 14.1668C15.4119 15.4001 14.2406 16.3614 12.8701 16.9291C11.4997 17.4968 9.99168 17.6453 8.53682 17.3559C7.08196 17.0665 5.74559 16.3522 4.6967 15.3033C3.64781 14.2544 2.9335 12.918 2.64411 11.4632C2.35472 10.0083 2.50325 8.50032 3.0709 7.12987C3.63856 5.75943 4.59985 4.58809 5.83322 3.76398C7.06659 2.93987 8.51664 2.5 10 2.5V4.375C8.88748 4.375 7.79994 4.7049 6.87492 5.32298C5.94989 5.94107 5.22892 6.81957 4.80318 7.84741C4.37743 8.87524 4.26604 10.0062 4.48308 11.0974C4.70012 12.1885 5.23585 13.1908 6.02252 13.9775C6.80919 14.7641 7.81147 15.2999 8.90262 15.5169C9.99376 15.734 11.1248 15.6226 12.1526 15.1968C13.1804 14.7711 14.0589 14.0501 14.677 13.1251C15.2951 12.2001 15.625 11.1125 15.625 10H17.5Z" fill="currentColor"/></svg>');
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  top: calc(50% - var(--spinner-size) / 2);
  transition: opacity var(--loading-transition);
  transition-delay: 0ms;
  width: 20px;
  width: var(--spinner-size, 20px);
  z-index: 2;
}
a[role='button'][aria-busy='true'],
button[aria-busy='true'] {
  color: transparent;
  cursor: progress;
  pointer-events: none;
}
a[role='button'][aria-busy='true']:before,
button[aria-busy='true']:before {
  opacity: 1;
  pointer-events: none;
  transition-delay: 0.2s;
  transition-duration: 0.15s;
}
input {
  --width: 220px;
  background: var(--surface);
  border: 1px solid var(--border-transparent);
  border-radius: 4px;
  font: 16px/24px 'IBM Plex Sans';
  font: var(--body-1);
  padding: 12px 16px;
}
input[data-stretch] {
  --width: 100%;
}
input,
input input,
input select {
  width: var(--width);
}
input,
input input,
input input:focus,
input select,
input select:focus,
input:focus,
input[focus-within],
input[focus-within]:focus {
  outline: none;
}
input,
input input,
input input:focus,
input select,
input select:focus,
input:focus,
input:focus-within,
input:focus-within:focus {
  outline: none;
}
input:focus,
input[focus-within] {
  border-color: var(--border-active);
  box-shadow: 0 0 0 1px var(--border-active);
}
input:focus,
input:focus-within {
  border-color: var(--border-active);
  box-shadow: 0 0 0 1px var(--border-active);
}
input[data-error] {
  border-color: #c00;
  border-color: var(--error);
  box-shadow: 0 0 0 1px #c00;
  box-shadow: 0 0 0 1px var(--error);
}
input:disabled,
input[data-disabled] {
  background: var(--surface-disabled);
  border-color: var(--border-transparent);
  box-shadow: none;
  cursor: default;
  pointer-events: none;
}
input ::-moz-placeholder,
input::-moz-placeholder {
  color: var(--text-placeholder);
}
input .placeholder,
input ::placeholder,
input::placeholder {
  color: var(--text-placeholder);
}
span.input-alert {
  grid-gap: 8px;
  border-radius: 4px;
  color: var(--text);
  display: grid;
  grid-template-columns: -webkit-min-content 1fr;
  grid-template-columns: min-content 1fr;
  margin-top: 8px;
}
span.input-alert[data-variant='error'],
span.input-alert[data-variant='warning'] {
  border-radius: 4;
  padding: 8px 12px;
}
span.input-alert[data-variant='info'] > svg:first-child {
  color: #06c;
  color: var(--info);
}
span.input-alert[data-variant='error'] {
  background: #fedfdf;
  background: var(--error-surface);
  color: #c00;
  color: var(--error);
}
span.input-alert[data-variant='warning'] {
  background: #fffadf;
  background: var(--warning-surface);
  color: #926b07;
  color: var(--warning);
}
button.input {
  --width: 220px;
  background: var(--surface);
  border: 1px solid var(--border-transparent);
  border-radius: 4px;
  font: 16px/24px 'IBM Plex Sans';
  font: var(--body-1);
  padding: 12px 16px;
}
button.input[data-stretch] {
  --width: 100%;
}
button.input,
button.input input,
button.input select {
  width: var(--width);
}
button.input,
button.input input,
button.input input:focus,
button.input select,
button.input select:focus,
button.input:focus,
button.input[focus-within],
button.input[focus-within]:focus {
  outline: none;
}
button.input,
button.input input,
button.input input:focus,
button.input select,
button.input select:focus,
button.input:focus,
button.input:focus-within,
button.input:focus-within:focus {
  outline: none;
}
button.input:focus,
button.input[focus-within] {
  border-color: var(--border-active);
  box-shadow: 0 0 0 1px var(--border-active);
}
button.input:focus,
button.input:focus-within {
  border-color: var(--border-active);
  box-shadow: 0 0 0 1px var(--border-active);
}
button.input[data-error] {
  border-color: #c00;
  border-color: var(--error);
  box-shadow: 0 0 0 1px #c00;
  box-shadow: 0 0 0 1px var(--error);
}
button.input:disabled,
button.input[data-disabled] {
  background: var(--surface-disabled);
  border-color: var(--border-transparent);
  box-shadow: none;
  cursor: default;
  pointer-events: none;
}
button.input ::-moz-placeholder,
button.input::-moz-placeholder {
  color: var(--text-placeholder);
}
button.input .placeholder,
button.input ::placeholder,
button.input::placeholder {
  color: var(--text-placeholder);
}
button.input {
  grid-gap: 8px;
  align-items: center;
  cursor: pointer;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}
button.input:hover {
  background: var(--surface-hover);
}
button.input:active() {
  background: var(--surface-active);
}
.input-structure {
  grid-gap: 8px;
  align-items: stretch;
  display: grid;
  grid-auto-flow: row;
}
label {
  margin-bottom: 8px;
}
span:is(button, :-webkit-any-link) {
  cursor: pointer;
}
span:is(button, :-moz-any-link) {
  cursor: pointer;
}
span:is(button, :any-link) {
  cursor: pointer;
}
span:is(button, :-webkit-any-link):active {
  background: var(--surface-active);
  color: var(--text);
}
span:is(button, :-moz-any-link):active {
  background: var(--surface-active);
  color: var(--text);
}
span:is(button, :any-link):active {
  background: var(--surface-active);
  color: var(--text);
}
span:is(button, :-webkit-any-link):focus {
  background: var(--surface-hover);
  color: var(--text);
}
span:is(button, :-moz-any-link):focus {
  background: var(--surface-hover);
  color: var(--text);
}
span:is(button, :any-link):focus {
  background: var(--surface-hover);
  color: var(--text);
}
span:is(button, :-webkit-any-link):hover {
  background: var(--surface-hover);
  color: var(--text);
}
span:is(button, :-moz-any-link):hover {
  background: var(--surface-hover);
  color: var(--text);
}
span:is(button, :any-link):hover {
  background: var(--surface-hover);
  color: var(--text);
}
span[data-selected='true'] {
  background: var(--surface-active);
  color: var(--text);
}
menu:not([data-noscroll]) {
  max-height: 300px;
  overflow-y: auto;
}
menu {
  grid-gap: 4px;
  align-items: stretch;
  display: grid;
  grid-auto-flow: row;
  list-style: none;
  padding: 0;
}
menu > li {
  display: flex;
  justify-content: stretch;
}
menu > li > * {
  flex: 1 1 100%;
  justify-content: flex-start;
}
@-webkit-keyframes animation-1kqbx5h {
  0% {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes animation-1kqbx5h {
  0% {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
.skeleton {
  --animation-duration: 1.5s;
  --animation-direction: normal;
  --pseudo-element-display: block;
  background-color: var(--surface-hover);
  color: transparent;
}
.skeleton:empty {
  min-height: 1rem;
  width: 100%;
}
.skeleton {
  border-radius: 8;
  height: 100%;
}
.skeleton[data-style='input'] {
  border-radius: 4;
}
.skeleton {
  display: inline-flex;
  line-height: 1.2rem;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.skeleton:after {
  -webkit-animation-direction: var(--animation-direction);
  animation-direction: var(--animation-direction);
  -webkit-animation-duration: var(--animation-duration);
  animation-duration: var(--animation-duration);
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: animation-1kqbx5h;
  animation-name: animation-1kqbx5h;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  background-image: linear-gradient(
    90deg,
    var(--surface),
    var(--surface-hover),
    var(--surface)
  );
  background-repeat: no-repeat;
  content: ' ';
  display: var(--pseudo-element-display);
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  transform: translateX(-100%);
}
[aria-busy='true']:not(button):not(select):not(input):not(textarea) {
  cursor: progress;
  pointer-events: none;
}
[aria-busy='true']:not(button):not(select):not(input):not(textarea):before {
  -webkit-animation: animation-coyfiv 0.8s linear infinite;
  animation: animation-coyfiv 0.8s linear infinite;
  content: '';
  display: inline-block;
  height: 20px;
  height: var(--spinner-size, 20px);
  -webkit-mask-image: url('data:image/svg+xml; utf8, <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.5 10C17.5 11.4834 17.0601 12.9334 16.236 14.1668C15.4119 15.4001 14.2406 16.3614 12.8701 16.9291C11.4997 17.4968 9.99168 17.6453 8.53682 17.3559C7.08196 17.0665 5.74559 16.3522 4.6967 15.3033C3.64781 14.2544 2.9335 12.918 2.64411 11.4632C2.35472 10.0083 2.50325 8.50032 3.0709 7.12987C3.63856 5.75943 4.59985 4.58809 5.83322 3.76398C7.06659 2.93987 8.51664 2.5 10 2.5V4.375C8.88748 4.375 7.79994 4.7049 6.87492 5.32298C5.94989 5.94107 5.22892 6.81957 4.80318 7.84741C4.37743 8.87524 4.26604 10.0062 4.48308 11.0974C4.70012 12.1885 5.23585 13.1908 6.02252 13.9775C6.80919 14.7641 7.81147 15.2999 8.90262 15.5169C9.99376 15.734 11.1248 15.6226 12.1526 15.1968C13.1804 14.7711 14.0589 14.0501 14.677 13.1251C15.2951 12.2001 15.625 11.1125 15.625 10H17.5Z" fill="currentColor"/></svg>');
  mask-image: url('data:image/svg+xml; utf8, <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.5 10C17.5 11.4834 17.0601 12.9334 16.236 14.1668C15.4119 15.4001 14.2406 16.3614 12.8701 16.9291C11.4997 17.4968 9.99168 17.6453 8.53682 17.3559C7.08196 17.0665 5.74559 16.3522 4.6967 15.3033C3.64781 14.2544 2.9335 12.918 2.64411 11.4632C2.35472 10.0083 2.50325 8.50032 3.0709 7.12987C3.63856 5.75943 4.59985 4.58809 5.83322 3.76398C7.06659 2.93987 8.51664 2.5 10 2.5V4.375C8.88748 4.375 7.79994 4.7049 6.87492 5.32298C5.94989 5.94107 5.22892 6.81957 4.80318 7.84741C4.37743 8.87524 4.26604 10.0062 4.48308 11.0974C4.70012 12.1885 5.23585 13.1908 6.02252 13.9775C6.80919 14.7641 7.81147 15.2999 8.90262 15.5169C9.99376 15.734 11.1248 15.6226 12.1526 15.1968C13.1804 14.7711 14.0589 14.0501 14.677 13.1251C15.2951 12.2001 15.625 11.1125 15.625 10H17.5Z" fill="currentColor"/></svg>');
  width: 20px;
  width: var(--spinner-size, 20px);
}
[dir='ltr']
  [aria-busy='true']:not(button):not(select):not(input):not(textarea):not(:empty):before {
  margin-right: 4px;
}
[dir='rtl']
  [aria-busy='true']:not(button):not(select):not(input):not(textarea):not(:empty):before {
  margin-left: 4px;
}
[dir='ltr']
  [aria-busy='true']:not(button):not(select):not(input):not(textarea):not(:empty):before {
  margin-right: var(--spinner-margin, 4px);
}
[dir='rtl']
  [aria-busy='true']:not(button):not(select):not(input):not(textarea):not(:empty):before {
  margin-left: var(--spinner-margin, 4px);
}
[dir='ltr']
  [aria-busy='true']:not(button):not(select):not(input):not(textarea):not(:empty):before {
  margin-left: 0;
}
[dir='rtl']
  [aria-busy='true']:not(button):not(select):not(input):not(textarea):not(:empty):before {
  margin-right: 0;
}
[aria-busy='true']:not(button):not(select):not(input):not(textarea):not(:empty):before {
  margin-left: 0;
  margin-right: 4px;
  margin-right: var(--spinner-margin, 4px);
}
[aria-busy='true']:not(button):not(select):not(input):not(textarea):empty {
  text-align: center;
}